.home-fundo{
    background-image: url('../assets/fundo.jpg'); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}
.home-container{
    display: flex;            
    flex-direction: column;   
    align-items: center;     
    justify-content: center;
    margin: 0;
    padding: 0;

    height: 100vh
}
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}
.home-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color:#5f0b0b;
    font-weight: bold;
}

.home-logo{
    width: 200px;      
    height: 200px;
    background-image: url('../assets/logo.png'); 
    background-position: center;
    background-size: contain;   
    background-repeat: no-repeat; 
}

.home-login{
    width: 60px;      
    height: 60px;
    background-image: url('../assets/login.png');  
    background-size: contain;   
    background-repeat: no-repeat;
    position: fixed;
    top: 10px;
    left: 95%;
}

.home-botao{
    background: none; 
    border: none;     
    cursor: pointer;
}

.home-subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: rgb(10, 51, 23);
    font-weight: bold;
}

.home-buttons {
    display: flex;
    gap: 20px;
}

.home-button {
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #ffccdd;
    color: #5f0b0b;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.home-button:hover {
    background-color: #5f0b0b;
    color: #fff;
    transform: scale(1.05);
}

.home-button.secondary {
    background-color: #ffccdd;
    color: #5f0b0b;
}

.home-button.secondary:hover {
    background-color: #5f0b0b;
    color: #fff;
}